<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    
    <display-name>KyLibrary - WebService</display-name>
    
    <!-- [SPRING FRAMEWORK] -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:apache-cxf-services.xml, classpath:spring-hibernate-jax-ws.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- [APACHE CXF] -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/SOAP/*</url-pattern>
    </servlet-mapping>
    
</web-app>